/*
  COLORS
    Purple_020: fcf6ff
    Purple_300: 8729b3
    Purple_600: 4d1766
    Purple_900: 13061a
    Light_Tangerine: fff4f4
    Tangerine: ff5757
    Dark_Tangerine: d14949
    Yellow: f7c203
*/
body: {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1: {

}

h2: {

}

h3: {

}

h4: {

}

p: {

}

img: {
  width: 100%;
}
