/*
  COLORS
    Purple_020: fcf6ff
    Purple_300: 8729b3
    Purple_600: 4d1766
    Purple_900: 13061a
    Light_Tangerine: fff4f4
    Tangerine: ff5757
    Dark_Tangerine: d14949
    Yellow: f7c203
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #13061a;
}

/* =============================== SECTIONS ================================= */
div {
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.colored {
  background-color: #fcf6ff;
}
.CTA {
  display: inline-flex;
}
.social-media {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.content_wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
  justify-content: center;
}

#aboutme {
  flex: 1;
  min-width: 250px;
  margin-right: 1.5em;
}
#skills {
  flex: 1;
  min-width: 250px;
  margin-left: 1.5em;
}


/* ------------ NavBar -------------*/
nav {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* ------------ Footer -------------*/
footer {
  background-color: #f7c203;
}

/* ------------ Cards --------------*/
.card.case-study {
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 2em;
  box-shadow: 4px 4px 20px 0 rgb(0 0 0 / 10%);
  margin-left: 1em;
  margin-right: 1em;
  background-color: #ffffff;
  min-width: 300px;
  max-width: 430px;
  flex: 1;
}
.card.content-highlight {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2em;
  box-shadow: 4px 4px 20px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
}


/* ---------------- Media ---------------- */
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2em;
  margin-top: 2em;
}

/* ============================== TYPOGRAPHY ================================ */
.title {
  font-size: 5em;
  font-weight: bold;
  line-height: normal;
  color: #8729b3;
  margin: 0;
}

.subtitle {
  font-size: 2.5em;
  font-weight: bold;
  line-height: normal;
  color: #4d1766;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
  color: #4d1766;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: normal;
  color: #8729b3;
}
.h2-footer {
  color: #13061a;
}

h3 {
  font-size: 1.15em;
  font-weight: 400;
  line-height: normal;
  color: #d14949;
  padding: 1.5em;
  background-color: #fff4f4;
  border-left: solid;
  border-color: #d14949;
  border-width: thick;
}
.card-title {
  color: #ff5757;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  background-color: transparent;
  border-left: solid;
  border-color: transparent;
  padding: 0;
}
.card-title.alt {
  color: #d14949;
  font-family: Nunito, sans-serif;
  font-size: 1.75em;
  font-weight: 800;
  background-color: transparent;
  border-left: solid;
  border-color: transparent;
  padding: 0;
  margin-top:0;
  margin-bottom:0;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: normal;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
}
.p.card {
  font-family: Nunito, sans-serif;
  font-size: 1.25em;
}

/* IMAGES */
img {
  width: 100%;
}
.social {
  width: auto;
}
.logo {
  position: relative;
  float: left;
  left: 0%;
  /*top: 8px;*/
  right: auto;
  bottom:0%;
}
.wireframe {
  border-color: #8729b3;
  border-style: solid;
}
/* ================================= LINKS ================================== */
a {
  color: #ff5757;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #d14949;
  text-decoration: underline;
}
.navlink {
    padding: 0.75em;
    color: #8729b3;
}
.navlink:hover {
  color: #ff5757;
  text-decoration: none;
}

.button { /*  box-shadow: 2px solid #ff7f50;*/
  background-color: #ff5757;
  color: #ffffff;
  padding: 0.75em;
  border-radius: 5em;
  border-style: solid;
  border-color: transparent;
  transition: background-color 0.4s;
}
.button:hover {
  background-color: #d14949;
  color: #ffffff;
  border-radius: 5em;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
  padding: 0.75em;
}

.button.contact {
  background-color: #ffffff;
  color: #13061a;
}
.button.contact:hover {
  background-color: #fff4f4;
  color: #13061a;
  text-decoration: none;
}

.button.navbar {
  background-color: #8729b3;
  color: #ffffff;
  margin-left: 0.75em;
}
.button.navbar:hover {
  background-color: #ff5757;
  color: #ffffff;
  margin-left: 0.75em;
  text-decoration: none;
}


/* =============================== ANIMATIONS =============================== */
#h {
  animation: jump 2s infinite alternate;
}
#i {
  animation: jump 2s infinite alternate;
  animation-delay: 0.5s;
}
#b {
  animation: jump 2s infinite alternate;
  animation-delay: 1s;
}
#a {
  animation: jump 2s infinite alternate;
  animation-delay: 1.5s;
}

svg.animated {
  padding: 15px;
  overflow: visible;
}

@keyframes jump {
  from {transform: translate(0,0px);}
  to {transform: translate(0px,-25px);}
}

/* ============================== MEDIA QUERIES ============================= */

/*
For screens 600px and smaller:
*/
@media screen and (max-width:600px) {
  #aboutme {
    flex: 1;
    min-width: 277px;
    margin-right: 0;
  }
  #skills {
    flex: 1;
    margin-top: 3em;
    min-width: 277px;
    margin-left: 0;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
XXL devices (1920px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
